<!-- Appointment Card Component -->
<div class="appointment-card">
  <div class="appointment-info">
    <div class="appointment-doctor"></div>
    <div class="appointment-type"></div>
    <div class="appointment-datetime">
      <img src="icons/calendar.svg" alt="" width="16" height="16" class="datetime-icon">
      <span class="datetime-text"></span>
    </div>
  </div>
  <div class="appointment-actions">
    <button class="btn-reschedule">Reschedule</button>
    <button class="btn-cancel">Cancel</button>
  </div>
</div>

